<div class="container">
<div class="row">
  <!-- Area Chart -->
  <div class="col-6">   
<figure class="highcharts-figure">
  <div id="container"></div>
</figure>
  </div>
    <!-- Bar Chart -->
    <div class="col-6">
      <figure class="highcharts-figure">
        <div id="barGraph"></div>
      </figure>
    </div>
    
</div>
<div class="row">
<div class="col-6">
  <figure class="highcharts-figure">
    <div id="PieChart"></div>
  </figure>
</div>

<div class="col-6">
  <figure class="highcharts-figure">
    <div id="maleFemale"></div>
  </figure>
</div>
</div>
<div class="row">
  <div class="col-6">
    <figure class="highcharts-figure">
      <div id="agePrecentage"></div>
    </figure>


  </div>
  <div class="col-6">
    <figure class="highcharts-figure">
      <div id="emotionsBar"></div>
    </figure>


  </div>
</div>
</div>
<router-outlet></router-outlet>
