<div class="container">
  <app-my-ad-spots></app-my-ad-spots>
  <button type="button" class="btn btn" routerLink="/test">test</button>
  <div class="row">
    <!-- Area Chart -->
    <div class="col-lg-6 col-md-12 col-sm-12">
      <figure class="highcharts-figure">
        <div id="container" style="width: 100%;"></div>
      </figure>
    </div>
    <!-- Bar Chart -->
    <div class="col-lg-6 col-md-12 col-sm-12">
      <figure class="highcharts-figure">
        <div id="barGraph" style="width: 100%;"></div>
      </figure>
    </div>
  </div>
  <div class="row">
    <!-- Pie Chart -->
    <div class="col-lg-6 col-md-12 col-sm-12">
      <figure class="highcharts-figure">
        <div id="PieChart" style="width: 100%;"></div>
      </figure>
    </div>
    <!-- Male/Female Chart -->
    <div class="col-lg-6 col-md-12 col-sm-12">
      <figure class="highcharts-figure">
        <div id="maleFemale" style="width: 100%;"></div>
      </figure>
    </div>
  </div>
  <div class="row">
    <!-- Age Percentage Chart -->
    <div class="col-lg-6 col-md-12 col-sm-12">
      <figure class="highcharts-figure">
        <div id="agePrecentage" style="width: 100%;"></div>
      </figure>
    </div>
    <!-- Emotions Bar Chart -->
    <div class="col-lg-6 col-md-12 col-sm-12">
      <figure class="highcharts-figure">
        <div id="emotionsBar" style="width: 100%;"></div>
      </figure>
    </div>
  </div>
  
  <div class="row">
    <!-- Age Percentage Chart -->
    <div class="col-lg-6 col-md-12 col-sm-12">
      <figure class="highcharts-figure">
        <div id="AgeArea" style="width: 100%;"></div>
      </figure>
    </div>
    <!-- Emotions Bar Chart -->
    <div class="col-lg-6 col-md-12 col-sm-12">
        <figure class="highcharts-figure">
          <div id="DonutChart" style="width: 100%;"></div>
        </figure>
      </div>
  </div>

</div> 
