.nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-title {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .table thead th {
    background-color: #f8f9fa;
  }
  
  .pagination .page-link {
    color: #007bff;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
  }
  